/*  Author : Everton Strack (everton.strack@gmail.com) */

/*
	Older browser
*/
.browsehappy{
	padding: 20px;
	margin: 0;
	text-align: center;
	font: 18px 'Arial, sans-serif';
	color: #999;
}
.browsehappy a{ color: #999; font-weight: bold; }


/*
	GENERAL
*/
html,
body{
	width: 100%;
	height: 100%;
	position: relative;
}
.header, .footer, .main{
	width: 100%;
}
.main{
	display:block;
}


/* ==========================================================================================================
	MOBILE
	Media queries for mobile main resolutions	
========================================================================================================== */

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.sidebar{ display: none; }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) { }

/* iPads (portrait and landscape) */
@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) { }

/* iPads (landscape) */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { }
