/* 
* main.css
* author : Everton Strack (everton.strack@gmail.com)
**/

/* Older browser */
.browsehappy{
	padding: 20px;
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
	color: #999;
}
.browsehappy a{ color: #999; font-weight: bold; }


/* GENERAL */
html,
body{
	width: 100%;
	height: 100%;
	position: relative;
}
.header, .footer, .main{
	width: 100%;
}
.main{
	display:block;
}

/* Adjusts the size considering the padding */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* MAIN CODE HERE */